* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  color: #fff;
  font-family: "Satoshi", sans-serif;
  padding: 20px 40px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 95.75px;
  color: #fff;
}

.nav-links {
  display: flex;
  gap: 20px;
  list-style: none;
  font-size: 16px;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}

.nav-links a:hover {
  color: #aaa;
}

.nav-right {
  display: flex;
  gap: 20px;
}

.sign-in {
  padding: 1px 15px;
  border-radius: 20px;
  background-color: transparent;
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  font-size: 15px;
  transition: all 0.3s ease;
  border: 1px solid #fff;
}

.sign-in:hover {
  background-color: hsla(0, 48%, 21%, 0.016);
  color: #fff;
}

.download-btn {
  padding: 5px 15px;
  border-radius: 20px;
  background-color: #fff;
  color: #000;
  text-decoration: none;
  font-weight: 400;
  font-size: 15px;
  transition: all 0.3s ease;
  border: 1px solid #fff;
}

