* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #14120b;
  color: #edecec;
  font-family: "Satoshi", sans-serif;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 24px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.logo {
  width: 95.75px;
  color: #edecec;
}

.nav-links {
  display: flex;
  gap: 20px;
  list-style: none;
  font-size: 16px;
}

.nav-links a {
  text-decoration: none;
  color: #edecec;
  font-weight: 500;
  transition: all 0.3s ease;
}

.nav-links a:hover {
  color: #aaa;
}

.nav-right {
  display: flex;
  gap: 20px;
}

.sign-in {
  padding: 5px 15px;
  border-radius: 20px;
  background-color: transparent;
  color: #edecec;
  text-decoration: none;
  font-weight: 400;
  font-size: 15px;
  transition: all 0.3s ease;
  border: 1px solid #fff;
  cursor: pointer;
}

.sign-in:hover {
  background-color: #1c1c1c9e;
  color: #edecec;
}

.download-btn {
  padding: 5px 15px;
  border-radius: 20px;
  background-color: #fff;
  color: #000;
  text-decoration: none;
  font-weight: 400;
  font-size: 15px;
  transition: all 0.3s ease;
  border: 1px solid #fff;
  cursor: pointer;
}

.download-btn:hover {
  background-color: #e0e0e0;
  color: #000;
}

.hero-section {
  margin-top: 120px;
}

.hero-title {
  font-size: 26px;
  font-weight: 400;
  line-height: 1.25;
}

.download-ctc {
  margin-top: 24px;
  padding: 12.48px 21.6px 12.48px;
  font-size: 16px;
  border-radius: 24px;
  border: 1px solid #fff;
  cursor: pointer;
  transition: all 0.3s ease;
}

.download-ctc:hover {
  background-color: #e0e0e0;
  color: #000;
}

.hero-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-img {
  margin-top: 40px;
  width: 100%;
}

.trust-container {
  max-width: 1440px;
  margin-top: 80px;
  margin-bottom: 20px;
}

.trust-text {
  display: flex;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}

.trust-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 32px;
}

.logos {
  width: 168px;
  height: 100px;
  display: flex;
  font-size: 40px;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.05),
    rgba(255, 255, 255, 0.02)
  );
  border-radius: 4px;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.08);
  padding: 24px 12px;
}

.features-container {
  border-radius: 8px;
  margin-top: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.05),
    rgba(255, 255, 255, 0.02)
  );
  padding: 20px 0;
}

.features-text {
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.features-description {
  font-size: 22px;
  color: oklab(0.943853 0.00107113 0.000336707 / 0.6);
  line-height: 28.6px;
}

.features-title {
  font-size: 22px;
  font-weight: 500;
  line-height: 28.6px;
}

.learn-more {
  color: #f54e00;
  font-size: 16px;
  line-height: 22px;
  transition: all 0.3s ease;
  cursor: pointer;
  margin-top: 15px;
  font-weight: 500;
}

.learn-more:hover {
  color: oklab(0.652196 0.168318 0.131453 / 0.75);
}

.features-img {
  width: 100%;
}

.features-container-2 {
  border-radius: 8px;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.05),
    rgba(255, 255, 255, 0.02)
  );
  gap: 70px;
  padding: 20px 0;
}

.features-text-2 {
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.features-description-2 {
    font-size: 22px;
  color: oklab(0.943853 0.00107113 0.000336707 / 0.6);
  line-height: 28.6px;
}
 
.features-title-2 {
  font-size: 22px;
  font-weight: 500;
  line-height: 28.6px;
}

.learn-more-2- {
  color: #f54e00;
  font-size: 16px;
  line-height: 22px;
  transition: all 0.3s ease;
  cursor: pointer;
  margin-top: 15px;
  font-weight: 500;
}

.learn-more-2-:hover {
  color: oklab(0.652196 0.168318 0.131453 / 0.75);
}


.card-container {
  margin-top: 120px;
}

.card-title {
  font-size: 28px;
  text-align: center;
  justify-content: center;
  font-weight: 400;
}

.testominals {
  margin-top: 40px;
  max-width: 1440px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
}

.card {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.05),
    rgba(255, 255, 255, 0.02)
  );
  border-radius: 4px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.card-quote {
  font-size: 16px;
  line-height: 22px; 
}
